/* Global CSS */

* {
  padding: 0;
  margin: 0;
  transition: 0.2s;
}

body {
  margin: 0;
  font-family: Rubik, sans-serif;
}

.page-content {
  min-height: 100vh;
  /*background: rgb(117,232,255);
  background: linear-gradient(180deg, rgba(117,232,255,1) 0%, rgba(46,46,158,1) 82%, rgba(36,31,133,1) 100%);*/
  background: url("static-img/dark_geometric.png");
}

.page-container {
  background-color: white;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
}

.banner {
  position: relative;
}

.banner img {
  filter: brightness(50%);
}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0.3rem 0.3rem 0.3rem black;
  font-size: 4em;
  white-space: nowrap;
  z-index: 1;
}